@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
// Define defaults for each variable.

$base-font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$code-font-family: "SF Mono", "JetBrains Mono", monospace !default;
$base-font-size: 16px !default;
$base-font-weight: 400 !default;
$small-font-size: $base-font-size * 0.875 !default;
$base-line-height: 1.75 !default;

$spacing-unit: 30px !default;

$table-text-align: left !default;

// Width of the content area
$content-width: 1280px !default;

$on-palm: 600px !default;
$on-laptop: 1280px !default;

$on-medium: $on-palm !default;
$on-large: $on-laptop !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit * .5;
//     padding-left: $spacing-unit * .5;
//   }
// }
// Notice the following mixin uses max-width, in a deprecated, desktop-first
// approach, whereas media queries used elsewhere now use min-width.
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: #{$ratio}rem;
}

// Import pre-styling-overrides hook and style-partials.
@import "minima/custom-variables", // Hook to override predefined variables.
"minima/base", // Defines element resets.
"minima/layout", // Defines structure and style based on CSS selectors.
"minima/custom-styles" // Hook to override existing styles.
;